      .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        /* height: 400p; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }

      /* Mobile specific padding
      @media (max-width: 767px) {
        .swiper-wrapper {
          padding-left: 30px;
          padding-right: 30px;
        }
      } */

      /* Hamburger Menu */
      .hamburger {
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: all 0.25s;
        position: relative;
      }

      .hamburger-top,
      .hamburger-middle,
      .hamburger-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 2px;
        background: #f9f9f9;
        transform: rotate(0);
        transition: all 0.5s;
      }

      .hamburger-middle {
        transform: translateY(7px);
      }

      .hamburger-bottom {
        transform: translateY(14px);
      }

      .open {
        transform: rotate(90deg);
        transform: translateY(0px);
      }

      .open .hamburger-top {
        transform: rotate(45deg) translateY(6px) translate(6px);
      }

      .open .hamburger-middle {
        display: none;
      }

      .open .hamburger-bottom {
        transform: rotate(-45deg) translateY(6px) translate(-6px);
      }